/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@charset "utf-8";
@import "compass/reset";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography/text/ellipsis";
@import "compass/typography/links/link-colors";


//右下角固定菜单
.cpt_fixBar{
	position: fixed;
	display: none;
	right: 30px;
	bottom: 40px;
	width: 40px;
	height: 140px;
	background: transparent;
	z-index: 1;

	.listTool{
		width: 100%;
		height: 100%;
		background: transparent;
		position: relative;

		li {
			@include display-flex;
			@include align-items(center);
			@include justify-content(center);
			cursor: pointer;
			width: 40px;
			height: 40px;
			margin-bottom: 5px;
		    color: #666;
			background: rgba(144, 144, 144, 0.6);
			@include transition(all 0.3s ease);

			.div-showimage{
				display: none;
			    position: absolute;
			    right: 160px;
			    @include box-shadow(0 0 10px #666);
			    top: 5px;

				img{
				    width: 120px;
				    position: absolute;
				}
			}

			a{
				@include display-flex;
				@include align-items(center);
				justify-content: center;
				cursor: pointer;
				width: 40px;
				height: 40px;
				color: #666;
				text-decoration: none;

				&:hover{
					text-decoration: none;
				}
			}

			&:hover {
				background: rgba(144, 144, 144, 0.8);
			}

			i{
				font-size: 24px;
				@include transition(all 0.3s ease);
			}

			&:hover i {
				color: #eee;
			}

			&:hover .div-showimage {
				display: block;
			}
		}
	}
}

.cpt_fixBar.blue{
	.listTool{
		li {
			border: 1px solid #8FCBE4;
			background: #fff;

			.div-showimage{
				@include box-shadow(0 0 10px #B0D1E9);
			}

			&:hover {
				background: #fff;

				i{
					color: #63B4E8;
				}
			}

			i{
				color: #99CCCC;
			}
		}
	}
}

.cpt_fixBar.green{
	.listTool{
		li {
			border: 1px solid #8FE4BC;
			background: #fff;

			.div-showimage{
				@include box-shadow(0 0 10px #70D39A);
			}

			&:hover {
				background: #fff;

				i{
					color: #33CC99;
				}
			}

			i{
				color: #99CCCC;
			}
		}
	}
}